@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-start: 31deg, 23%, 82%;
    --background-end: 0deg, 0%, 100%;
    --color-content: 251deg, 19%, 29%;
    --color-content-secondary: 251deg, 21%, 37%;
    --color-box-background: 0deg, 0%, 100%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-content: 265deg, 26%, 91%;
      --color-box-background: 251deg, 21%, 30%;
      --background-start: 255deg, 39%, 9%;
      --background-end: 251deg, 21%, 26%;
    }
  }

  html {
    user-select: none;
  }

  body {
    color: hsl(var(--color-content));
    background: hsl(var(--background-end));
  }

  h1 {
    margin: 0;
    padding: 0;
  }
}
